[submodule "picar/SunFounder_PCA9685"]
	path = picar/SunFounder_PCA9685
	url = https://github.com/sunfounder/SunFounder_PCA9685.git
[submodule "picar/SunFounder_TB6612"]
	path = picar/SunFounder_TB6612
	url = https://github.com/sunfounder/SunFounder_TB6612.git
